<div class="topic-rating">
  {{star-rating
    rating=topic.ratings.importance
    onChange=(action "updateImportance")
  }}
  {{star-rating
    rating=topic.ratings.feasibility
    onChange=(action "updateFeasibility")
  }}
</div>
