<div class="rating-stars">
  {{#each this.stars as |star|}}
    <span 
      class="star {{if star.filled "filled"}}" 
      role="button"
      {{on "click" (fn this.setRating star.value)}}
    >
      {{#if star.filled}}★{{else}}☆{{/if}}
    </span>
  {{/each}}
</div>
